<h1>Workshop Todo List</h1>
    <ul>
      <li>
        <input type="checkbox">
        <a href="show/1">Get rest at night</a> 
        <span class="pomodoro-estimate">4 pomodoros</span>
      </li>
      <li>
        <input type="checkbox">
        <a href="show/2">Complete homework</a> 
        <span class="pomodoro-estimate" >3 pomodoros</span>
      </li>
      <li>
        <input type="checkbox">
        <a href="show/3">Be nice to Peers and staff</a>
        <span class="pomodoro-estimate">2 pomodoros</span>
      </li>
      <li>
        <input type="checkbox">
        <a href="show/4">Come to school on time</a> 
        <span class="pomodoro-estimate">1 Pomodoro</span>
      </li>
      <li>
        <input type="checkbox">
        <a href="show/5">Eat in class</a> 
        <span class="pomodoro-estimate">2 pomodoros</span>
       </li>
       <li>
       <input type="checkbox">
        <a href="show/6">Bully Peers and Staff</a> 
        <span class="pomodoro-estimate">1 pomodoros</span>
       </li>
       <li>
        <input type="checkbox">
        <a href="show/7">Sleep in class</a>
        <span class="pomodoro-estimate">0 pomodoros</span>
      </li>
      <li>
        <input type="checkbox">
        <a href="show/8">Get referred out of class</a>
        <span class="pomodoro-estimate">0 pomodoros</span>
      </li>
     </ul>
      <input type="text" placeholder="Add a new todo...">
      <input type="number" placeholder="Pomodoro estimate...">
      <input id= "add-new-todo-button" type="submit" value="Add todo"></h1>